/* WAYBAR COLOR CONFIG */

* {
    color: #d0dacc;
    border: none;
    border-radius: 0;
    font-family: monospace, monospace;
    font-size: 14px;
    min-height: 0;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
}

window#waybar {
    background: transparent;
    color: #d0dacc;
}

tooltip {
    background: rgba(15, 26, 40, 0.9);
    border: 1px solid rgba(70, 158, 168, 0.5);
}

tooltip label {
    color: #d0dacc;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #d0dacc;
}

#workspaces button.focused {
    background-color: #3A8B60;
    border-radius: 3px;
}

#workspaces button.focused label,
#workspaces button.focused {
    color: #0F1A28;
}

.modules-left {
    border-radius: 5px;
    background-color: rgba(15, 26, 40, 0.9);
    padding-left: 11px;
    padding-right: 11px;
}

.modules-center {
    border-radius: 5px;
    background-color: rgba(15, 26, 40, 0.9);
    padding-left: 11px;
    padding-right: 11px;
}

.modules-right {
    border-radius: 5px;
    background-color: rgba(15, 26, 40, 0.9);
    padding-left: 11px;
    padding-right: 11px;
}

#mode {
    background: #1F72AB;
    border-bottom: 3px solid #d0dacc;
}

#clock {
    color: #d0dacc;
}

#battery {
    color: #d0dacc;
}

#battery.charging {
    color: #A2BA60;
}

@keyframes blink {
    to {
        background-color: #d0dacc;
        color: #0F1A28;
    }
}

#battery.warning:not(.charging) {
    color: #B16196;
}
